<mat-button-toggle-group name="mode" aria-label="Mode" [(ngModel)]="mode">
  <mat-button-toggle [value]="modes.edit">
    Gäste
  </mat-button-toggle>
  <mat-button-toggle [value]="modes.invite">
    Einladungen
  </mat-button-toggle>
  <mat-button-toggle [value]="modes.access">
    Zugriff
  </mat-button-toggle>
</mat-button-toggle-group>

<table *ngIf="mode === modes.invite" mat-table [dataSource]="profiles">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="name-column"> Name</th>
    <td mat-cell *matCellDef="let profile"> {{profile.nickname ?? profile.firstName}} {{profile.familyName}}</td>
  </ng-container>

  <ng-container *ngFor="let program of context.programs" [matColumnDef]="program.title">
    <th mat-header-cell *matHeaderCellDef class="invitation-column"> {{program.title}} </th>
    <td mat-cell *matCellDef="let profile" class="invitation-column">
      <mat-checkbox
        [checked]="profile.invitationRegistry[program.id]"
        (change)="setInvited(profile, program, $event.checked)">

      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

