<p>
  Kennengelernt habe ich Florian relativ unromantisch über Facebook, als zwei Unbekannte, die durch den schicksalhaften
  Facebook-Algorithmus zusammenfanden.
</p>

<p>
  Am 13.07.14 hat er mich gefragt, ob ich seine Freundin werden wollte. Ich fühlte mich geehrt. Es folgte ein
  turbulentes erstes Beziehungsjahr in welchem wir lernten, dass es sich lohnt für unsere Beziehung zu kämpfen.
  Wir gestalteten unsere eigene Kommunikationsweise und bauten eine solide Beziehung in der wir tiefes Vertrauen und
  Zuneigung füreinander lebten. Im dritten Beziehungsjahr wagten wir den nächsten Schritt und zogen zusammen. Unser
  Leben zeichnet sich seither durch eine unterstützende Lernkultur aus, durch tiefes Vertrauen und gegenseitigen
  Respekt. Diese Verbundenheit durfte in den letzten fünf Jahren weiterwachsen. Ich liebe Florian für seine
  Unterstützung, seine Einfühlsamkeit, dass er immer da ist für mich, mich auffängt und mir im Leben Halt gibt. Nach
  acht Jahren bin ich mir sicher: Ich will ihn für immer an meiner Seite haben!
</p>

<img
  src="assets/argovia.jpeg"
  alt="Das Brautpaar"
/>
<p>
  Fotografische Abbildung des Brautpaars am Argovia-Festival. © Miro Hegnauer 2022. Alle Rechte vorbehalten.
</p>
