<p>
  Wir freuen uns, dich auf unserer Hochzeit zu sehen. Falls du uns etwas schenken möchtest, findest du unten ein
  paar Ideen. Möchtest du etwas davon unterstützen, hast du die Möglichkeit, einen Betrag zu reservieren. Sobald der
  gesamte Betrag für ein Artikel zusammen gekommen ist, werden dich unsere Brautführer kontaktieren.
  Bitte beachte, dass wenn wir bei einem Wunsch einen Link zum spezifischen Produkt hinterlegt haben, wir uns auch
  dieses spezifische Produkt wünschen. Zu sämtlichen Anliegen dürft ihr gerne jederzeit unsere Brautführer kontaktieren.
</p>
<p>
  Generell bitten wir alle darum, eure Geschenke anzuschreiben :)
</p>

<mat-grid-list cols="1" rowHeight="6em">
  <mat-grid-tile *ngFor="let wish of context.wishes">
    <div class="grid-tile-container padded" (click)="open(wish)" [class.highlight]="wish.giftOf(profile.identifier!)">
      <div class="grid-tile-image-container">
        <img
          src="{{wish.imageUrl}}"
          alt="{{wish.title}}">
      </div>
      <div class="grid-tile-info-container">
        <p class="grid-tile-info-caption">
          {{wish.caption}}
        </p>
        <mat-progress-bar
          [value]="wish.hideProgress? wish.giftOf(profile.identifier!)? 100 : 0 : wish.progress *100"
          [color]="wish.giftOf(profile.identifier!)? 'primary' : 'accent'"
          [mode]="'determinate'">
        </mat-progress-bar>
        <p *ngIf="!wish.hideProgress"
          class="grid-tile-info-progress">
          {{wish.progressText}}
        </p>
        <p *ngIf="wish.giftOf(profile.identifier!)"
        class="supported">
          <mat-icon>favorite</mat-icon>
          {{wish.giftOf(profile.identifier!)?.contributionText}}
        </p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
