<section class="dialog-content-container">
  <div mat-dialog-title>
    <h1>{{data.wish.title}}</h1>
    <img
      src="{{data.wish.imageUrl}}"
      alt="{{data.wish.caption}}"
      width="100%">
    <a
      *ngIf="data.wish.productUrl"
      mat-raised-button
      color="primary"
      [href]="data.wish.productUrl"
      target="_blank"
    >
      Zum Produkt
      <mat-icon>open_in_new</mat-icon>
    </a>
    <p class="dialog-description">{{data.wish.description}}</p>
  </div>

  <div mat-dialog-content class="no-nested-scrolling full-width">

    <div class="spinner-container">
      <div>
        <mat-progress-spinner
          [diameter]="150"
          [strokeWidth]="10"
          mode="determinate"
          color="accent"
          [value]="100"
          [style.opacity]="0.3">
        </mat-progress-spinner>
      </div>
      <div>
        <mat-progress-spinner
          [diameter]="150"
          [strokeWidth]="10"
          mode="determinate"
          color="primary"
          [value]="progressWith *100">
        </mat-progress-spinner>
      </div>
      <div>
        <mat-progress-spinner
          [diameter]="150"
          [strokeWidth]="10"
          mode="determinate"
          color="accent"
          [value]="progressWithout *100">
        </mat-progress-spinner>
      </div>
      <div>
        <p class="accumulated-number">
          {{accumulatedText}}
        </p>
      </div>
    </div>

    <p *ngIf="!reservedValue">Möchtest du dieses Geschenk unterstützen?</p>
    <app-gift-summary *ngIf="reservedValue" [gift]="data.wish.giftOf(data.donorId)!"></app-gift-summary>

    <mat-form-field appearance="fill" class="dialog-input-row">
      <mat-label>Betrag ({{data.wish.unit}})</mat-label>
      <input
        matInput
        #value
        type="number"
        name="value"
        autocomplete="off"
        [max]="maxValue"
        [min]="1"
        [(ngModel)]="data.value">
      <mat-error>Betrag möglich zwischen 1 und {{maxValue}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.value" appearance="fill" class="dialog-input-row">
    <textarea
      matInput
      type="text"
      name="comment"
      autocomplete="off"
      [(ngModel)]="data.comment">
    </textarea>
      <mat-label>Kommentar</mat-label>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-action-row">
    <button mat-button (click)="cancel()">Abbrechen</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="data.id? !data.commentChanged : data.value < 1 || data.value > maxValue"
      [mat-dialog-close]="data">
      {{data.id? 'Speichern' : 'Betrag reservieren'}}
    </button>
  </div>
</section>
