.spinner-container {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: 1.5em;

  div {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    height: 150px;
    width: 150px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.accumulated-spinner {
}

.accumulated-number {
  font-size: 24px;
  margin: 0;
}

.gift-spinner {

}

app-gift-summary {
  margin-bottom: 1.5em;
}
