
.dialog-content-container {
  width: 100%;
  max-width: min(480px, 80vw);
  max-height: 90vh;
  overflow-y: scroll;
  scrollbar-base-color: transparent;
}

.full-width {
  width: 100%;
}

.no-nested-scrolling {
  display: table;
}

.dialog-input-row {
  width: 100%;
  textarea {
    min-height: 6em;
  }
}

.dialog-description {
  font-size: medium;
  font-weight: normal;
  line-height: 1.5em;
  opacity: 0.6;
  margin: 2em 0;
}

.dialog-action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px 9px;
}
