<mat-card class="app-container">

  <mat-card-header class="header">
    <h1 class="title">
      {{title}}
    </h1>
  </mat-card-header>

  <mat-card-content class="access-control">
    <app-access-control
      [(account)]="account"
      [(profile)]="profile"
      [token]="loadToken()"
      (accountChange)="persistToken($event)"
    ></app-access-control>
  </mat-card-content>

  <mat-card-content>
    <mat-accordion *ngIf="profile">

      <mat-expansion-panel *ngIf="profile?.isAdmin">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Aufstellung
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-scope [profile]="profile" [context]="context!"></app-scope>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="profile?.isAdmin">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Gästeliste
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-guests [context]="context!"></app-guests>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="profile.availablePrograms?.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Programm
            <span *ngIf="profile?.invitationTodoCount" class="alert-badge" [matBadge]="profile.invitationTodoCount"></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-program [profile]="profile" [programs]="profile.availablePrograms!"></app-program>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="profile.availableMeals?.length">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Menü
            <span *ngIf="profile?.mealTodoCount" class="alert-badge" [matBadge]="profile.mealTodoCount"></span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-meal [profile]="profile" [context]="context!"></app-meal>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Unsere Brautführer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-team [profile]="profile"></app-team>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Unsere Story
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-story [profile]="profile"></app-story>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="profile.isEnrolled()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Wunschbüechli
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-gifts [profile]="profile" [context]="context!"></app-gifts>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Fotos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-illustrations [profile]="profile"></app-illustrations>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Kontakt
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-contact [profile]="profile"></app-contact>
        </ng-template>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card-content>

  <mat-card-footer class="footer">
    <img alt="logo" class="footer-logo" src="favicon.ico">
    Sandy & Florian
  </mat-card-footer>

</mat-card>
