
<div class="dialog-content-container framed">
  <h2>Herzlich Willkommen auf unserer Hochzeitshomepage!</h2>
  <p>
    Wir freuen uns, dass du den Weg hierher gefunden hast und mit uns diesen besonderen Tag teilen wirst.
    Diese Seite soll dir helfen, alle wichtigen Informationen rund um unsere Hochzeit zu finden. Die Anmeldung findet
    über diese Webseite statt.
  </p>
  <p>
    Neu findest du auf unserer Webseite eine Kategorie Wunschbüechli.
  </p>
  <p>
    Wir hoffen, dir gefällt unser neues Design und du findest dich gut zurecht.
    Wenn Fragen auftauchen zögere bitte nicht, uns zu kontaktieren.
  </p>
  <p>
    In freudiger Erwartung <br/>
    <br/>
    Sandy & Florian
  </p>
</div>

<div mat-dialog-actions class="dialog-action-row">
  <button
    mat-raised-button
    color="primary"
    (click)="ok()">
    OK
  </button>
</div>
